@import '../base/variable.scss';

.section {
  width: 100%;
  padding: 72px 12px;
  padding-bottom: 0px;
  .container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0px auto;
    .education {
      padding: 132px 0;
      margin: 72px 0;
      .info-degree {
        width: 25%;
        float: left;
        position: relative;
        text-align: center;
        .marker {
          width: 22px;
          height: 22px;
          box-sizing: border-box;
          background: #fff;
          border: 6px solid #7c4dff;
          position: absolute;
          left: 50%;
          margin-left: -11px;
          box-shadow: 0 2px 6px rgba(0,0,0,.25);
          z-index: 2
        }
        .card {
          background: #fff;
          box-shadow: 0 2px 4px rgba(0,0,0,.3);
          padding: 24px;
          position: absolute;
          color: $font-color;
          bottom: 40px;
          left: 0;
          right: 0;
          margin: 0 12px;
          span {
            font-size: 13px;
            line-height: 26px;
            margin-bottom: 12px;
            text-transform: uppercase;
          }
          h4 {
            margin: 0px;
          }
          &::after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 18px 0 0 18px;
            border-color: transparent transparent transparent #fff;
            box-shadow: -2px 2px 4px rgba(0,0,0,.15);
            position: absolute;
            bottom: -9px;
            left: 50%;
            margin-left: -9px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
        }
        .year {
            font-size: 16px;
            line-height: 26px;
            font-weight: 700;
            position: relative;
            bottom: -44px;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
      }
      .info-degree:nth-child(even) {
        .card {
          top: 40px;
          position: relative;
          &::before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 18px 0 0 18px;
            border-color: transparent transparent transparent #fff;
            box-shadow: -2px 2px 4px rgba(0,0,0,.15);
            position: absolute;
            top: -9px;
            z-index: 99;
            left: 50%;
            margin-left: -9px;
            transform: rotate(135deg);
          }
          &::after {
            display: none;
          }
        }
        .year {
          top: -40px;
          position: absolute;
        }
      }
      .time-line {
        border-bottom: 1px dashed #232323;
        position: relative;
        margin: 0 18px;
        padding-bottom: 12px;
        margin-bottom: 24px;
        position: relative;
        top: -1px;
        &::before{
          display: block;
          content: '';
          width: 14px;
          height: 14px;
          background: #fff;
          box-sizing: border-box;
          border: 4px solid #7c4dff;
          border-radius: 100%;
          position: absolute;
          left: -18px;
          bottom: -7px;
        }
        &::after {
          display: block;
          content: '';
          width: 14px;
          height: 14px;
          background: #fff;
          box-sizing: border-box;
          border: 4px solid #7c4dff;
          border-radius: 100%;
          position: absolute;
          right: -18px;
          bottom: -7px;
        }
      }
    }
    .hobbies {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .icon-box {
        width: 17%;
        text-align: center;
        color: $font-color;
        .iconcard {
          display: inline-block;
          .icon {
            height: 100px;
            width: 100px;
            margin-bottom: 24px;
            box-shadow: 0 2px 6px rgba(0,0,0,.25);
            background-color: white;
            font-size: 48px;
            transition: background-color 0.5s;
            cursor: pointer;
            line-height: 100px;
            display: inline-block;
          }
          h5 {
            margin-top: 10px;
          }
        }
        &:hover {
          .iconcard {
            .icon {
              background-color: $primary-color;
              color: white;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {

  .section .container .education {
    position: relative;
    padding: 0;;
    margin: 18px 0;;
    margin-bottom: 42px;;

    .info-degree {
      width: 100%;
      float: none;
      margin-bottom: 24px;

      .marker {
        position: absolute;
        top: 50%;
        left: 0;
        margin-left: -11px;
        margin-top: -27px;
      }

      .card {
        padding: 24px;
        position: static;
        margin: 0;
        margin-left: 36px;

        &::after {
          border-width: 18px 0 0 18px;
          border-color: transparent transparent transparent #fff;
          box-shadow: -1px 2px 2px rgba(0,0,0,.15);
          bottom: auto;
          left: 36px;
          top: 50%;
          margin-top: -25px;
          transform: rotate(45deg);
        }
      }

      .year {
        position: static;
        margin: 0 auto;
        padding-left: 36px;
        margin-top: 6px;
      }
    }

    .info-degree:nth-child(even) {
      width: 100%;
      float: none;
      margin-bottom: 24px;
      
      .marker {
        position: absolute;
        top: 50%;
        left: 0;
        margin-left: -11px;
        margin-top: -27px;
      }

      .card {
        padding: 24px;
        position: static;
        margin: 0;
        margin-left: 36px;

        &::before {
          border-width: 18px 0 0 18px;
          border-color: transparent transparent transparent #fff;
          box-shadow: -1px 2px 2px rgba(0,0,0,.15);
          bottom: auto;
          left: 36px;
          top: 50%;
          margin-top: -25px;
          transform: rotate(45deg);
        }
      }

      .year {
        position: static;
        margin: 0 auto;
        padding-left: 36px;
        margin-top: 6px;
      }
    }
    .time-line {
      border-bottom: none;
      border-left: 1px dashed #232323;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 1px;
      margin: 0;
      padding: 0;
      &::before {
        top: -18px;
        bottom: -7px;
        left: -7px;
      }
      &::after {
        right: auto;
        bottom: -18px;
        left: -7px;
      }
    }
  }
  
  .section .container .hobbies .icon-box {
    width: 50%;
  }
}